.pageContainer {
    width: 100%;
    min-height: 90%;
    margin: 0px;
    background: powderblue;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.viewport {
    width: 900px;
    height: 700px;
    margin-bottom: 50px;

    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    overflow: scroll;
    background: white;
}

.toolbox {
    margin-top: 25px;
    width: 800px;
    height: 50px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool {
    width: 400px;;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shapePicker {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shape {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.attributes {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 75px;
    margin-bottom: 5px;
    background: white;
}

.attributes h2 {
    margin-left: 15px;
}
