.pageContainer {
    width: 95%;
    min-width:950px;
    min-height: 85%;
    margin: 0px;
    background: powderblue;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: left;
}

.viewport {
    min-width: 100%;
    height: 575px;
    margin-bottom: 50px;
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

canvas {
    width: 900px;
    height: 600px;
    overflow: scroll;
    background: white;
    border: 5px solid black
}

.elementList {
    width: 200px;
    height: 610px;
    margin-left: 15px;
    margin-right: 25px;
    background: green; 
    display: flex;
    justify-content: top;
    align-items: center;
    flex-flow: column;
    overflow:scroll;
}

.toolbox {
    margin-top: 20px;
    width: 800px;
    height: 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute;
    bottom: 25px; */
}

/* .slide {
    display: flex; 
    justify-content: top;
    align-items: center;
    flex-flow: column;
    background: black;
} */

.slideHeader {
    height: 25px;
    width: 100%;
    background: black;
    color: white;
    margin: 0px;
}


.slideBody {
    background: blue;
    color: white;
    display: none;
}

.subSlideBody {
    background: green;
    color: white;
    display: none;

}

.active {
    display: block;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.subActive {
    display: block;
    width: 100%;

}
.tool {
    width: 400px;;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shapePick {
    width: 100%;
    background: green;
    color: white;
}

.shapePicker {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shape {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.attributes {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:absolute; */
    bottom: 80px;
    background: white;
}

.attributes h2 {
    margin-left: 15px;
}


.element {
    width: 90%;
    height: 30px;
    background: black;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element h2 {
    margin: 0px;
}