/* General Formatting */

* {
  margin: 0;
}

/* Modal */

.page {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.page__demo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 300px;
  background: #fff;
  padding: 40px;
  border-radius: 5px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Logo */

.login-logo {
  transform: scale(1.3);
  display: block;
  margin-left: 92px;
  margin-top: -80px;
}

/* Input Fields - General */

.a-field__label {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.field{
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input{ 
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: 1rem;
  margin-top: 1vh;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

.a-field{
  display: inline-block;
}

.a-field__input{ 
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.a-field__input:focus{
  outline: none;
}

/* Label - a-field */

.a-field{
  --uiFieldHeight: var(--fieldHeight, 40px);  
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;  
}

.a-field .a-field__input{
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
}

.a-field .a-field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field .a-field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field .a-field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field .a-field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field .a-field__label-wrap{
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);	

  pointer-events: none;
  cursor: text;

  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field .a-field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - .5em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
  will-change: bottom, opacity;
}

.a-field .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

/* Input Field - a-field_a2 */

.a-field_a2 .a-field__label-wrap:after{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;  

  will-change: width;
  transition: width .285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap:after{
  width: 100%;
}

.field{
  --fieldBorderColor: #D2E7E9;
  --fieldBorderColorActive: #0FA3B1;
}

/* Buttons */

.login-btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  color: #0FA3B1;
  font-size: 20px;
  background: #fffffc;
  padding: 10px 30px;
  text-transform: uppercase;
  border: solid #0FA3B1 1.5px;
  text-decoration: none;
  outline: none;
}

.login-btn:hover {
  background: #0FA3B1;
  color: #fffffc;
  border-color: #0FA3B1;
  text-decoration: none;
}

.login-modal-btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  color: #0FA3B1;
  font-size: 20px;
  background: #fffffc;
  padding: 10px 30px;
  border: solid #0FA3B1 1.5px;
  text-decoration: none;
  outline: none;
  margin-top: 70px;
  margin-left: 90px;
  margin-bottom: -10vh;
  width: 40%;
}

.login-modal-btn:hover {
  background: #0FA3B1;
  color: #fffffc;
  border-color: #0FA3B1;
  text-decoration: none;
}