* {
  margin: 0;
}

.chat-container {
}

/* Message Headers */

.msg-header-1 {
  float: left;
  color: #b5b5b5;
  font-size: 1rem;
  display: inline-block;
}

.msg-header-2 {
  float: right;
  color: #b5b5b5;
  font-size: 1rem;
  display: inline-block;
}


/* Messages */

.super1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.super2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.msg1 {
  list-style: none;
  background: #72b8ff;
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-weight: lighter;
  font-size: small;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  margin: 5px;
  position: relative; 
}

.msg2 {
  list-style: none;
  background: #00D025;
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-weight: lighter;
  font-size: small;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  margin: 5px;
  position: relative; 
}

.msg1.u1 {
  float: left;
  clear: both;
  border-top-left-radius: 0px;
}

.msg1.u1:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid #72b8ff;
  border-top: 5px solid #72b8ff;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 0px;
  left: -10px;
}

.msg2.u2 {
    float: right;
    clear: both;
    border-top-right-radius: 0px;
}

.msg2.u2:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 5px solid #00D025;
  border-right: 5px solid transparent;
  border-top: 5px solid #00D025;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 0px;
  right: -10px;
}

/* Message Form */

.msg-form {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

/* Message Input */

.msg-input {
  margin: 10px 5px;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  /* box-sizing: border-box; */
  font-size: 15px;
  width: 14.8%;
  height: 40px;
  border: none;
  /* display: inline-block; */
  color: #0f0f0f;
  font-weight: 100;
  background: #ededed;
  /* position: bottom; */
}

/* Message Buttons */

.join-room-btn-container {
  display: flex;
  justify-content: center;
}

.msg-btn {
  width: 4.5%;
  height: 40px;
  padding: 0;
  display: inline-block;
  border: none;
  color: #fffffc;
  background: #11b3c1;
  position: relative;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 5px;
  border-radius: 50px;
}

.msg-btn:hover {
  background: #fffffc;
  color: #11b3c1;
  border: solid 2px #11b3c1;
}

.join-room-btn {
  border: none;
  outline: none;
  font-size: 1rem;
  margin-top: 1rem;
}

.join-room-btn:hover {
  color: #11b3c1;
}
